{{#with celebrity}}
<h2>{{name}}</h2>
<h3>{{occupation}}</h3>
<p>{{catchPhrase}}</p>
<a href="/celebrities/{{_id}}/edit">Edit this celebrity!</a><br>
<a href="/celebrities">Back to the overview!</a>
{{/with}}